        <div class="article">
          <h2>Contact</h2>          
          <h1>Govardhan Karnati</h1>
	  	  <h2>Mobile: 8688533380</h2>
		  <h3>E-mail: govardhan.selenium@gmail.com</h3>
        </div>
        <div class="article">
          <h2><span>Send us</span> mail</h2>
          <div class="clr"></div>
          <%= form_tag({:action => 'contact'}) do %>
          <ol>
            <li><label for="name">Name (required)</label>
                <%=text_field_tag :name, nil, :class => "text" %></li>
            <li><label for="email">Email Address (required)</label>
                <%=text_field_tag :email, nil, :class => "text" %></li>
            <li><label for="website">Website</label>
                <%=text_field_tag :website, nil, :class => "text" %></li>
            <li><label for="message">Your Message</label>
                <%=text_area_tag :message, nil, rows: 8,  :class => "text" %></li><br />
            <li><%= submit_tag "Send Message" %></li>
          </ol>
          <% end %>
        </div>
    